.full-height {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100%;
}

#div-title {
    font-size: 60px;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
